*{
  color:blue;
}
html {
  background-color: yellow;
  font-family: sans-serif;
  text-align: center;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 0.8rem;
  align-self: center;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235,235,235);
  cursor:pointer;
}

td {
  text-align: left;
}

tr:nth-child(even) td {
  background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
  background-color: rgb(245,245,245);
}

caption {
  padding: 10px;
}
button{
  width: 200px;
  margin: auto;
  line-height: 3;
  font-size: 1.1rem;
  text-align: center;
  border-radius: 30px;
  background-image: linear-gradient(to top left, rgba(0,0,255,1), rgba(255,255,255,1) 50%);
  box-shadow: inset 4px 4px 4px rgba(0,0,255,1),
              inset -4px -4px 4px rgba(255,255,255,1);
}